*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segeo UI', sans-serif; 
}
body
{
    background: #f0f2f5;
    padding: 40px 20px;
    max-width:700 px;
    margin : 0 auto;
}
h1 {
    font-size: 28px;
    color: #1a1a2e;
    margin-bottom: 24px;
}
.input-section {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
#task-input {
    flex: 1;
    max-width: 600px;
    padding: 10px 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}
#task-input:focus {
    border-color: #6c63ff;
}
select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background: white;
    outline: none;
    cursor: pointer;
}
#addTask:hover {
    background: #574fd6;
    color: #00f0ff;
    transition: all 0.3s ease;
    text-shadow:
    0 0 4px #00f0ff,
    0 0 8px #00f0ff,
    0 0 16px rgba(0, 240, 200, 0.7),
    0 0 24px rgba(0, 240, 255, 0.5);
}
#filters {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
#tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task-card {
    background: white;
    padding: 18px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
.task-card span {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #333;
    flex: 1;
}
.task-card button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 8px;
}
.task-card button:first-of-type {
    background: #e8f5e9;
    color: #2e7d32;
}
.task-card button:last-of-type {
    background: #fdecea;
    color: #c62828;
}
.task-card span span {
    margin: 0 12px;
}
.task-card div span:not(:last-child)::after {
    margin-left: 100px;
    margin-right:100px;
    text-decoration: none;
    display: inline-block;
}
.task-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.task-info .text-col { width: 40%; }
.task-info .cat-col  { width: 25%; }
.task-info .pri-col  { width: 20%; }

.task-info .text-col,
.task-info .cat-col {
    border-right: 1px solid #ddd;
    padding-right: 16px;
}

.task-info .cat-col,
.task-info .pri-col {
    padding-left: 16px;
}